.section0-container{

    height: fit-content;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 100px 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}
.section0-container-left{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.section0-container-right{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    background-color: #e5e4ea;
    height: fit-content;
    border-radius: 50px;

}
.section0-container-right img{
    width: 80%;
    margin: 50px auto;
    border-radius: 50px;

}


.section0-container-left-up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

 
}
.section0-container-left-up img{
    width: 70%;
    margin: 50px auto;
    border-radius: 50%;
    border: 4px solid black;
}
.section0-container-left-down{
    border-top: 5px solid #525252;
    max-width: 600px;
}
.section0-container-left-down h2{
    margin-top: 40px;
    padding: 20px;
    color: #525252;
  font-weight: 500;
  text-align: center;
  line-height: 1.6;
}
