header a {
  text-decoration: none;
  color: #DFBE91;

  font-size: 24px;
  font-weight: 600;
  transition: all 0.2s ease;}
header a:hover {
  color: #764C31;
  cursor: pointer;
}
header {
  width: 100%;
  position: absolute;
  padding: 0 2rem;
}
.navbar {
  width: 100%;
  height: 100px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  height: 80px;
}

.linkss {
  gap: 2rem;
  display: flex;
}
.activeLink {
  color: #B2935B;
  border-bottom: 3px solid #B2935B;
}
.auth {
  display: flex;
}

.login {
  padding: 0.5rem 1rem;
  border: 2px solid #ff90bb;
  color: #fff;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.login:hover {
  scale: 1.1;
  color: #fff;
  background-color: #B2935B;
}
.menuBtn {
  color: black;
  cursor: pointer;
  display: none;
  position: fixed;
  right: 30px;
  top: 20px;
}
.menuBtn:hover {
  color: #ff90bb;
  scale: 1.3;
  transition: 0.4s ease-in-out;
}
/* Responsive design */
@media (max-width: 1000px) {
  header a {
    color: #000;
    font-size: larger;
  }

  .linkss,
  .login {
    display: none;
  }

  /* .links,
  .auth {
    display: none;
  } */

  .menuBtn {
    display: block;
  }
}
