.contact-section-container-father {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-section-container {
  max-width: 1000px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: center;
  justify-content: center;
  background-color: #f9f5f6;

  border-radius: 40px;

  padding: 30px;
}
.contact-section-container1 {
  line-height: 1.7;
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.contact-section-container2 {
  width: 100%;
  max-width: 360px;
  aspect-ratio: 1/1;
  background: url("../../../../public/contact/Capture\ d’écran\ 2023-07-10\ 120705.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  border-radius: 50px;
}
.contact-hero-link {
  background-color: black;
  width: fit-content;
  color: #fff;
  padding: 10px;
  font-weight: 700;
}
.contact-hero-link:hover {
  scale: 1.1;
  transition: 0.2s ease-in;
}
@media (max-width: 900px) {
  .contact-section-container {
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 30px;
  }
  .contact-section-container1 {
    margin: 0;
    padding: 0;
  }
  .contact-hero-link {
    margin: auto;
  }
}
