.apropos-section-container {
  width: 100%;
  height: fit-content;
  padding: 50px 100px 0 50px;
  justify-content: center;
  align-items: center;
}

.apropos-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  display: grid;
  gap: 40px;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
}
.apropos-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.apropos-left h1 {
  font-size: 35px;
  margin: 20px;
}
.apropos-left p {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;
}
.apropos-right1 {
  width: 100%;
  max-width: 360px;
  aspect-ratio: 9/16;
  background: url("../../../../public/herosec/sidahmedlakber_artistic_artitectural_sketch_of_modern_house_int_ba92aa03-24d5-44bf-9e7c-470347571427.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  border-radius: 50px;
}
@media (max-width: 1200px) {
  .apropos-section {
    grid-template-columns: 1fr;
    padding: 0;
    text-align: center;
  }
  .apropos-section-container {
    padding: 0 50px;
  }
}
