.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 300px;
  padding: 3rem 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  overflow: hidden;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}
.sidebar.open {
  transform: translateX(0%);
  justify-content: space-evenly;
  display: flex;
}
.logo {
  position: absolute;
  top: 20px;
  font-size: 18px;
}
.closeIcon {
  position: absolute;
  right: 30px;
  top: 20px;
  color: #fff;
  cursor: pointer;
}
.closeIcon:hover {
  color: #B2935B;
  cursor: pointer;
  scale: 1.3;
  transition: 0.4s ease-in-out;
}

.sidebar a {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}
.activeLink {
  color: #fff;
  background-color: #B2935B;
}
.activeLink:hover {
  color: #fff;
  background-color: #B2935B;
}
.linkss a {
  color: #fff;
  margin: 20px;
  padding: 0.7rem;
}
.login {
  margin-bottom: 60px;
  background-color: #fff;
  color: #B2935B;
}
.logos-list a {
  margin: 0;
}
@media (max-width: 1000px) {
  .sidebar {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
  }
}
@media (max-width: 650px) {
  .sidebar {
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .sidebar {
    display: none;
  }
}
