.project{
    background-color: rgb(242, 228, 228);
    border-radius: 20px ;
    transition: all .2s ease-in-out;
}
.project:hover{
    scale: 1.1;
}
.project section{
    margin: 20px;
    aspect-ratio: 1 / 1;
    background-color: rgb(217, 217, 217);
    border-radius: 40px;
    
}
.project-text{
    padding: 0 10px 10px  10px ;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align:start;
}
.project-text:hover{
    cursor: pointer;
    
}